body {
    margin:0;
   padding:0;
   box-sizing: border-box;  
}

#app{
    height: 100vh;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
}

.time,
.sounds,
.player{
    height: 80%;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.time{
    background: none;

}

.sounds{
background: none; 
}

.player{
    background: none;
}

.play{
    position: absolute;
    width: 15%;

}

 .background .back{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
}

.time-display{
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 5%;
}


.time button{
 font-size: 40px;
 background: none;
 border: 2px solid whitesmoke;
 border-radius: 10px;
 color: whitesmoke;
 cursor: pointer;
}


.time button:hover{
    width:220px;
  
}

.sounds button{
    border: none;
    width: 100px;
    height: 120px;
    border-radius: 50%;
   cursor: pointer;
 
}

.sounds button:hover{
    width:110px;
    border: 2px solid black;
}

.sounds button:nth-child(1){
    background: rgb(92, 173, 92);
}
.sounds button:nth-child(2){
    background: rgb(75, 75, 121);
}
.sounds button:nth-child(3){
    background: rgb(247, 234, 124);
}
.sounds button:nth-child(4){
    background: lightgrey;
}

.sounds button img{
    width:80%;
}

